{% extends 'base.html.twig' %}

{% block title %}Nuevo Evento{% endblock %}

{% block body %}
    <h1>Crear nuevo evento</h1>

    {{ include('evento/_form.html.twig') }}

    <a href="{{ path('app_dashboard') }}">Volver</a>
{% endblock %}
